html {
  background: #f2f2f2;
}

body {
  margin: 0;
}

.scroll-container,
.scroll-area {
  max-width: 800px;
  height: 100vh;
  font-size: 60px;
}

.scroll-container {
  overflow: auto;
  scroll-snap-type: y mandatory;
}

.scroll-area {
  scroll-snap-align: start;
}

.scroll-container,
.scroll-area {
  margin: 0;
}

.scroll-area {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.scroll::-webkit-scrollbar {
  display: none;
}

.scroll-area:nth-of-type(1) {
  background: #49b293;
}

.scroll-area:nth-of-type(2) {
  background: #c94e4b;
}

.scroll-area:nth-of-type(3) {
  background: #4cc1be;
}

.scroll-area:nth-of-type(4) {
  background: #8360a6;
}

.parent {
  height: 2.5em; /* 애니메이션 높이 */
  overflow-y: hidden;
  display: block;
}

.parent .child {
  font-size: 1em; /* 애니메이션 높이 */
  font-weight: bold;
  line-height: 1;
  animation-name: grow;
  animation-duration: 1s; /* 애니메이션 시간 */
}
/* 키프레임 애니메이션 */
@keyframes grow {
  from {
    transform: translateY(3em);
  } /* 애니메이션 높이 */
  to {
    transform: translateY(0);
  }
}

.wrap {
  height: auto;
  width: 50%;
  text-align: center;
}

img {
  height: 50px;
  width: auto;
}

.wrap img {
  margin: 0px 0 0 -40px;
  line-height: 60px;
  position: absolute;
  left: 50%;
  bottom: 0px;
}

.bounce {
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
  animation: bounce 3.6s ease infinite;
  transform-origin: 50% 50%;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  5.55556% {
    transform: translateY(0);
  }
  11.11111% {
    transform: translateY(0);
  }
  22.22222% {
    transform: translateY(-15px);
  }
  27.77778% {
    transform: translateY(0);
  }
  33.33333% {
    transform: translateY(-15px);
  }
  44.44444% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 800px) {
  div {
    font-size: 1.3rem;
  }
}
