@import url("https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-rounded/css/uicons-regular-rounded.css");
@import url("https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-straight/css/uicons-regular-straight.css");

.nanum-gothic-regular {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.nanum-gothic-bold {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.nanum-gothic-extrabold {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 800;
  font-style: normal;
}

html {
  background: #f2f2f2;
}

* {
  font-family: "Nanum Gothic", sans-serif;
}

body {
  margin: 0;
}

.scroll-container,
.scroll-area {
  max-width: 800px;
  height: 100vh;
  font-size: 60px;
  flex-direction: column;
}

.scroll-container {
  overflow: auto;
  scroll-snap-type: y mandatory;
}

.scroll-area {
  scroll-snap-align: start;
}

.scroll-container,
.scroll-area {
  margin: 0;
}

.scroll-area {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.scroll::-webkit-scrollbar {
  display: none;
}

.scroll-area:nth-of-type(1) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/img.jpg");
  background-position: 40%;
}

.scroll-area:nth-of-type(2) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/singer.jpg");
  background-size: cover;
  background-position: 70%;
}

.scroll-area:nth-of-type(3) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/session.jpg");
  background-size: cover;
  background-position: 60%;
}

.scroll-area:nth-of-type(4) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/engineer.jpg");
  background-size: cover;
  background-position: 40%;
  text-align: center;
}

.scroll-area:nth-of-type(5) {
  background-color: rgb(145, 111, 138);
}

.scroll-area:nth-of-type(6) {
  background-color: rgb(114, 124, 163);
}

.parent {
  height: 2.5em; /* 애니메이션 높이 */
  overflow-y: hidden;
  display: block;
}

.parent:nth-child(1) .child {
  font-size: 1em; /* 애니메이션 높이 */
  font-weight: bold;
  line-height: 1;
  animation-name: grow;
  animation-duration: 1s; /* 애니메이션 시간 */
}

.parent:nth-child(2) .child {
  font-size: 1em; /* 애니메이션 높이 */
  font-weight: bold;
  line-height: 1;
  animation-name: grow;
  animation-delay: 1s; /* 애니메이션 시간 */
}
/* 키프레임 애니메이션 */
@keyframes grow {
  from {
    transform: translateY(3em);
  } /* 애니메이션 높이 */
  to {
    transform: translateY(0);
  }
}

iframe {
  width: 80%;
  height: auto;
}

.wrap {
  height: auto;
  width: 50%;
  text-align: center;
}

img {
  height: 50px;
  width: auto;
}

.wrap img {
  margin: 0px 0 0 -40px;
  line-height: 60px;
  position: absolute;
  left: 50%;
  bottom: 0px;
}

.bounce {
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
  animation: bounce 3.6s ease infinite;
  transform-origin: 50% 50%;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  5.55556% {
    transform: translateY(0);
  }
  11.11111% {
    transform: translateY(0);
  }
  22.22222% {
    transform: translateY(-15px);
  }
  27.77778% {
    transform: translateY(0);
  }
  33.33333% {
    transform: translateY(-15px);
  }
  44.44444% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

.scroll-area p {
  margin-top: 100px;
  font-size: 0.3em;
  font-weight: 200;
}

.icons {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

i {
  margin: 30%;
}

button {
  margin-top: 200px;
  width: 70%;
  height: 8%;
  border-radius: 20px;
  border: none;
  background-color: rgb(255, 255, 255);
  font-size: 0.3em;
}

button:hover {
  border: 1px solid white;
  background-color: rgb(114, 124, 163);
  color: white;
  font-size: 0.3em;
}

@media (max-width: 800px) {
  div {
    font-size: 1.3rem;
  }
}
